.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6 {
  display: flex;
}

.inner h1 {
  animation: 9s linear infinite topToBottom;
  -ms-animation: topToBottom 9s linear infinite 0s;
  -webkit-animation: 9s linear infinite topToBottom;
  opacity: 0;
  position: absolute !important;
  left: 0;
  right: 0;
  font-size: calc(1rem + 22.15vw);
  line-height: calc(1rem + 20.5vw);
}
.inner h1:nth-child(2) {
  animation-delay: 3s;
  -ms-animation-delay: 3s;
  -webkit-animation-delay: 3s;
}
.inner h1:nth-child(3) {
  animation-delay: 6s;
  -ms-animation-delay: 6s;
  -webkit-animation-delay: 6s;
}
@-moz-keyframes topToBottom {
  0%,
  100%,
  80% {
    opacity: 0;
  }
  5% {
    opacity: 0;
    -moz-transform: translateY(50px);
  }
  10%,
  25% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
  30% {
    opacity: 0;
    -moz-transform: translateY(-50px);
  }
}
@-webkit-keyframes topToBottom {
  0%,
  100%,
  80% {
    opacity: 0;
  }
  5% {
    opacity: 0;
    -webkit-transform: translateY(50px);
  }
  10%,
  25% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
  30% {
    opacity: 0;
    -webkit-transform: translateY(-50px);
  }
}
@-ms-keyframes topToBottom {
  0%,
  100%,
  30%,
  5%,
  80% {
    opacity: 0;
  }
  5% {
    -ms-transform: translateY(50px);
  }
  10%,
  25% {
    opacity: 1;
    -ms-transform: translateY(0);
  }
  30% {
    -ms-transform: translateY(-50px);
  }
}
@media only screen and (max-width: 2599px) {
  .hero-subtitle {
    margin-top: 600px;
  }
}
@media only screen and (max-width: 2048px) {
  .hero-subtitle {
    margin-top: 470px;
  }
}
@media only screen and (max-width: 1749px) {
  .hero-subtitle {
    margin-top: 380px;
  }
}
@media only screen and (max-width: 1537px) {
  .hero-subtitle {
    margin-top: 310px;
  }
}
@media only screen and (max-width: 1024px) {
  .hero-subtitle {
    margin-top: 240px;
    font-size: 18px;
  }
}
@media only screen and (max-width: 767px) {
  .hero-subtitle {
    margin-top: 190px;
    font-size: 16px;
  }
  .col-1 {
    flex-basis: 25%;
  }
}
@media only screen and (max-width: 479px) {
  .hero-subtitle {
    margin-top: 120px;
    font-size: 16px;
  }
  .col-1 {
    flex-basis: 50%;
  }
}
.flex-container img {
  opacity: 0.8;
  max-width: 80% !important;
}
.flex-container img:hover {
  opacity: 1;
  transition-duration: 0.9s;
  transition-property: transform;
  transform: scale(1.3);
}
@media only screen and (max-width: 1024px) {
  .col-1 {
    flex-basis: 25%;
  }
}
@media only screen and (max-width: 479px) {
  .col-1 {
    flex-basis: 50%;
  }
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
}
.col-1 {
  flex-basis: 16%;
  justify-content: center;
  align-items: center;
}
.col-2 {
  flex-basis: 32%;
  justify-content: center;
  align-items: center;
}
.col-3 {
  flex-basis: 48%;
  justify-content: center;
  align-items: center;
}
.col-4 {
  flex-basis: 64%;
  justify-content: center;
  align-items: center;
}
.col-5 {
  flex-basis: 80%;
  justify-content: center;
  align-items: center;
}
.col-6 {
  flex-basis: 96%;
  justify-content: center;
  align-items: center;
}
#section-heading:after,
#section-heading:before {
  display: block;
  content: '';
  border-bottom: 0;
  flex-grow: 1;
  border-top: 2px solid #ffcc04;
}
